p {
  font-size: 25px;
 color: purple;
}
li {
    font-size: 25px;
    color: purple;
}
h1 {
    font-family: 'Mali', cursive;
    color:purple;
}
p {
    font-family: 'Mali', cursive;
}
li {
    font-family: 'Mali', cursive;
}
img{
 height:500px;   
}
    